body {
  overflow-x: hidden;
  color: #505962;
  background-color: rgba(102, 194, 255);
}

.offset:before {
  display: block;
  height: 4rem;
  content: "";
  margin-top: -4rem;
}

.navbar {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  background-color: white !important;
}

.navbar img {
  height: 5rem;
}

.navbar-nav li {
  padding-right: .7rem;



}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(0, 0, 128);
  padding-up: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(102, 194, 255) ;
}

 .navbar-toggler {  /* change color here look down */
 border-color: rgba(102, 194, 255) !important;
}
                                                                                                                                     /* change color here look down */
 .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102, 194, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


/*============= HOME SECTION =============*/
.fixed {
  background-image: url("giphy.gif");
  z-index: -1;

}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 9rem 0.2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;

}

.fixed-background p {
  margin-top: -3rem;
}


.btn-outline-light {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  fontsize: 1.1rem;
}


/*============= Card SECTION =============*/

.card-img-top {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.card-title{
  color: rgba(102, 194, 255) !important;
}



/*============= resources SECTION =============*/
#resources .fixed {
  background-image: url("giphy2.gif");
  z-index: -1;
}

#resources .dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}

#resources .fixed-background h3 {
  margin-bottom: 2rem;
}

#resources .fixed-background p {
  margin-top: 1.5rem;
}

#resources svg.svg-inline--fa {
  color: rgba(102, 194, 255);
}


/*============= Team SECTION =============*/

.testimonial{
  background:white;
  text-align: center;
  padding: 1.875rem 1.875rem 3.125rem;
  margin:0 1rem 6.25rem;
  position: relative;
  margin-top: 10.5rem;
}

.testimonial:before,
.testimonial:after{
  content: "";
  border-top: 2.5rem solid white;
  border-right:7.8rem solid transparent;
  position: absolute;
  bottom:-2.5rem;
  left:0;

}

.testimonial:after{
  border-right: none;
  border-left: 7.8rem solid transparent;
  left:auto;
  right:0;
}

.testimonial .icon{
  display:inline-block;
  font-size: 5.3rem;
  color:darkblue;
  margin-bottom: 1.5rem;
  opacity: 0.6;
}


.testimonial .description{
  font-size: 1rem;
  color: #777;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -0.06rem;
  padding-left: 4rem;
  padding-right: 3rem;
}

.testimonial .testimonial-content{
  width:100%;
  position: absolute;
  left:0;
}

.testimonial .pic{
  display: inline-block;
  border:0.3rem solid white;
  border-radius: 50%;
  box-shadow: 0 0 0.125rem 0.125rem rgb(0, 0, 128);
  overflow:hidden;
  z-index: 1;
  position: relative;
}

.testimonial .pic img{
  width:100%;
  height: auto;
}

.testimonial .title{
  font-size: 1rem;
  font-weight: bold;
  color:white
  text-transform:capitalize;
  margin: 0 0 0.3rem 0;
}

.testimonial .post{
  display: block;
  font-style: 0.8rem;
  color:white;
}

.pic img {
  width: 6.25rem !important;
  height: 3.125rem;
}

.carousel-control-next-icon:after{
  content: '>';
  font-size: 3rem;
  color: blue;


}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3rem;
  color: blue;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
margin-right: 2rem;
margin-left: 1rem;
margin-top: 3rem;
}




/*============= Footer SECTION =============*/
footer {
  background-color: #40474e;
  color: white;
  padsding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 2rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0
}

footer svg.svg-inline--fa:hover {
  color: #1EBBA3 !important;
}

hr.socket {
  width: 100%;
  border-top: 1.2rem solid #666b71;
  margin-top: 3rem;
}

/*============= media queries =============*/
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-buttom: .5rem;
  }

  .caption h3 {
    font-size: 1.2rem padding-buttom: 1.2rem;
  }

  .btn-lg {
    padding: .5rem 1rem;
    fontsize: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
